
.card {
  margin: 2%;
  text-align: center;
  background-color: rgb(67, 67, 67);
  color: white;
}

.cardtitle {
  font-weight: bold;
  text-transform: uppercase;
}




.edit-contact-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}


body {
  background-color: rgb(42, 41, 41); /* Black background color */
  margin: 0; /* Reset default margin to ensure full coverage */
  padding: 0; /* Reset default padding to ensure full coverage */
}

#image{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.loading{
  color: white;
}
#trash{
  color: red;
}
#edit{
  color: aqua;
}